.GIT{
    cursor: pointer;
    background-color: rgb(46, 164, 79);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}
.GIT:hover{
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}
.Boot1{
    background-color: rgb(121, 82, 179);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.down{
    color: darkgray;
    background-color: white;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border-width: 1px;
}
.linkedin{
    background-color: rgb(10, 102, 194);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.save{
    background-color: white;
    color: rgb(10,102, 194);
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ReqNow{
    background-color: black;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.20s;
}
.ReqNow:hover{
    background-color: white;
    color: black;
    
    
}
.ReqNow:active{
    opacity: 0.5;
}
.Amzn{
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    transition: background 0.15s;

}
.Amzn:active{
    background-color:black ;
    color: rgb(255, 216, 20);
}